{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "import"
  ],
  "rules": {
    "space-before-function-paren": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "no-multi-assign": "off",
    "no-param-reassign": "off",
    "arrow-body-style": "off",
    "arrow-parens": "off",
    "consistent-return": "off",
    "import/prefer-default-export": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off"
  }
}
